<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicine Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <nav class="navigator">
        <h1>MEDSTOCK</h1>
        <ul>
            <li class="{{ 'active' if page_title == 'Dashboard' }}"><a href="{{ url_for('dashboard') }}"><i class="fas fa-home"></i>Dashboard</a></li>
            <li class="{{ 'active' if page_title == 'Inventory Management' }}"><a href="{{ url_for('inventory_management') }}"><i class="fas fa-pills"></i>Medicine Inventory Management</a></li>
            <li class="{{ 'active' if page_title == 'Stock Monitoring' }}"><a href="{{ url_for('stock_monitoring')}}"><i class="fas fa-chart-line"></i>Stock Monitoring</a></li>
            <li class="{{ 'active' if page_title == 'Ordering System' }}"><a href="{{ url_for('ordering_system')}}"><i class="fas fa-shopping-cart"></i>Ordering System</a></li>
            <li class="{{ 'active' if page_title == 'Reports' }}"><a href="{{ url_for('reports')}}"><i class="fas fa-file-alt"></i>Reports</a></li>
            <li class="{{ 'active' if page_title == 'User Access' }}"><a href="{{ url_for('user_access')}}"><i class="fas fa-users"></i>User Access</a></li>
        </ul>
    </nav>
    <main class="content">
        <nav><h3>{{ page_title }}</h3></nav>
        {% block content %}{% endblock %}
    </main>

</body>
</html>